body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: rgb(152, 188, 233);
}

.srch-btn {
  color: #00FFB7;
  background-color: #666BB5;
  border-color: #00FFB7;
}

.srch-btn:hover {
  background-color: #666bb5a4;
  color: #00FFB7;
}

.logo {
  height: 40px;
}

