body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  width: 95vw;
  padding: 20px;
  background-color: rgb(152, 188, 233);
}

.searchbar {
    border-radius: 45px;
    border: none;
    padding: 6px 0 6px 12px;
    margin-right: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

.nav-options {
  margin-right: 0px;
  margin-left: auto;
}

.logo {
  height: 40px;
}

